

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 150.0;
    -fx-text-alignment: CENTER;
    -fx-tile-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
}